.vscode/*
.idea/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.lock
*.pyc
Pipfile
.DS_Store
*.txt

# Local History for Visual Studio Code
.history/